<h1>Like Notifications</h1>
<% if current_user.user_status == "normal" %>
<div class = "notification">
	<% @likes.each do |like| %>
		<% unless like.user == @user %>
			<p><%= like.created_at %></p>
			<p><%= "#{like.user.username} liked your tweet" %></p>
			<p><%= link_to"#{like.tweet.body}", tweet_path(like.tweet.id) %></p>	
		<% end %>
	<% end %>
</div>
<% else %>
	<h2>Your account is suspended!</h2>
<% end %>
